### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Application Properties ###
# Only ignore local configuration files
src/main/resources/application.properties
src/main/resources/application-local.properties
src/test/resources/application-local.properties

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

### Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Node ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Compiled files ###
*.class
# Allow Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar
# Ignore other compiled artifacts
*.war
*.ear
*.zip
*.tar.gz
*.rar